<h2><%= @profile["Name"] %></h2>
<% strengths = PossibilityProfile.strengths_for(@profile) %>
<section class="student-strengths">
<% strengths.each do |strength_set| %>
  <article>
    <header>
      <%= strength_set[:name] %>
    </header>
    <dl>
      <% strength_set[:strengths].each do |strength| %>
        <dt>
          <%= strength["Name"] %>
          <img src="<%= strength["Icon"].first["thumbnails"]["large"]["url"] %>" alt="<%= strength["Name"] %>" />
        </dt>
        <dd>
          <p><%= strength["Description"] %></p>
        </dd>
      <% end %>
    </dl>
  </article>
<% end %>
</section>
