<article data-link="<%= mod["Link"] %>" class="<%= mod["Kind"] %>" id="module-<%= mod["Name"].parameterize %>">
  <header>
    <a href="<%= mod["Link"] %>">
      <%= mod["Name"] %>
    </a>
  </header>
  <section>
    <%= markdown mod["Description"] %>
  </section>
</article>
