<% if @commitments.any? %>
  <% @commitments.group_by{|c| c["By When"]}.each do |day, commitments| %>
    <div class="calendar">
      <header>
        <% if day.present? %>
          <%= Date.parse(day).strftime("%a, %b %d")  %>
        <% else %>
          No Date Set
        <% end %>
      </header>
      <% commitments.group_by{|t| t["Who"] }.each do |person, stuff| %>
        <h4><%= person %></h4>
        <ul class="tasks">
          <% stuff.each do |thing| %>
            <li class="task">
              <form method="POST" action="/api/commitments/<%= thing["id"] %>">
                <input value="yes" name="record[Complete?]" type="checkbox"><%= thing["Commitment"] %>
                <% if thing["PROJECTS_GROUPS"].present? %>
                  - <span class="subtle"><%= thing["PROJECTS_GROUPS"] %></span>
                <% end %>
                <input name="shard" type="hidden" value="<%= thing["SCHOOL_TFPID"].try(:split, "-").try(:first) %>">
              </form>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No upcoming student commitments.</p>
<% end %>
