<div class="new-commitment" id="new-commitment">
  <form action="/api/commitments" method="POST">
    <p>
      <label>Who</label>
      <select multiple class="selectize" required name="record[By Whom][]">
      </select>
    </p>
    <p>
      <label>What</label>
      <input required name="record[Commitment]" type="text" value="" placeholder="Land on the moon" />
    </p>
    <p>
      <label>When</label>
      <input required name="record[By When]" type="date" value="<%= Date.today %>" />
    </p>
    <p>
      <input type="hidden" name="shard" value="<%= current_user.goddamn_city %>" />
      <input type="submit" value="Got it." />
    </p>
  </form>
</div>
<div id="commitments-checklist">
<% if @commitments.any? %>
  <% @commitments.group_by{|c| c["By When"]}.each do |day, commitments| %>
    <div class="calendar">
      <header>
        <% if day.present? %>
          <%= Date.parse(day).strftime("%a, %b %d")  %>
        <% else %>
          No Date Set
        <% end %>
      </header>
      <% commitments.group_by{|t| t["Who"] }.each do |person, stuff| %>
        <div class="student-tasks">
          <h4><%= person %></h4>
          <ul class="tasks">
            <% stuff.each do |thing| %>
              <li class="task">
                <form class="toggle" method="POST" action="/api/commitments/<%= thing["id"] %>">
                  <input value="yes" name="record[Complete?]" type="checkbox"><%= thing["Commitment"] %>
                  <% if thing["PROJECTS_GROUPS"].present? %>
                    - <span class="subtle"><%= thing["PROJECTS_GROUPS"] %></span>
                  <% end %>
                  <input name="shard" type="hidden" value="<%= thing["SCHOOL_TFPID"].try(:split, "-").try(:first) || current_user.goddamn_city %>">
                </form>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No upcoming student commitments.</p>
<% end %>
</div>
