<div class="toggler">
  <button class="toggler-form-toggle">Add New</button>
  <div class="toggler-form new-tasks" id="new-task">
    <form action="/api/tasks" method="POST">
      <p>
        <label>Who:</label>
        <select data-endpoint="/api/tasks/assignees" multiple class="selectize" name="record[Who][]">
        </select>
      </p>
      <p>
        <label>What:</label>
        <input name="record[Commitment]" type="text" value="" placeholder="landing on the moon" />
      </p>
      <p>
        <label>By When:</label>
        <input name="record[By When]" type="date" value="<%= Date.today + 1.week %>" />
      </p>
      <p>
        <input type="submit" value="Add to Dashboard" />
      </p>
    </form>
  </div>
  <div class="toggler-checklist" id="tasks-checklist">
    <% if @tasks.any? %>
      <div class="calendar">
      <% @tasks.group_by{|c| c["By When"]}.each do |day, tasks| %>
        <div class="calendar-day">
          <% day = day.blank? ? Date.today : Date.parse(day) %>
          <header class="<%= "overdue" if day <= Date.today %>">
            <%= day.strftime("%a, %b %d")  %>
          </header>
          <ul class="tasks">
            <% tasks.each do |t| %>
              <li class="task">
                <form method="POST" action="/api/tasks/<%= t["id"] %>">
                  <input value="yes" name="record[Complete?]" type="checkbox"><%= markdown t["Commitment"] %>
                </form>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
     </div>
    <% else %>
      <p>You have done all the things.</p>
    <% end %>
  </div>
</div><!-- .toggler -->
