<a href="/auth/google_oauth2">Sign in</a>
<h1>
  You look nice today, links.
  <a href="/redirects/new">Add Link →</a>
</h1>
<ul>
  <li>
    <div class='shortcut header'>Shortcut</div>
    <div class='url header'>Full URL</div>
  </li>
  <% @redirects.each do |redirect| %>
    <li>
      <div class='shortcut'>
        <a href="/<%= redirect.shortcut %>">
          <%= "http://go.dream.org/#{redirect.shortcut}" %>
        </a>
      </div>
      <div class='url'><%= redirect.url %></div>
      <div class='actions'>
        <a href="/redirects/<%= redirect.id %>/edit" class='edit'>Edit</a>
        <a href="/redirects/<%= redirect.id %>/destroy"class='destroy'>Delete</a>
      </div>
    </li>
  <% end %>
</ul>
