%h1
  You look nice today, links.
  %a{href: '/redirects/new'} Add Link →
%ul
  %li
    .shortcut.header Shortcut
    .url.header Full URL

  - @redirects.each do |redirect|
    %li
      .shortcut
        %a{href:"/#{redirect.shortcut}"}
          = "http://go.dream.org/#{redirect.shortcut}"
      .url= redirect.url
      .actions
        %a.edit{href: "/redirects/#{redirect.id}/edit"} Edit
        %a.destroy{href: "/redirects/#{redirect.id}/destroy"} Delete
