<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <%= stylesheet_tag "screen" %>
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <img src="/img/logo.png" alt="The Future Project" />
        </a>
        <%= Date.today.strftime "%a, %B %d" %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
    <% if current_user %>
      <footer>
        <%= current_user["Name"] %>
        //
        <a href="/auth/log_out">Log Out</a>
        <% if current_user.attributes[:admin] %>
          //
          <a href="/admin">Admin</a>
        <% end %>
      </footer>
    <% end %>

    <%= javascript_tag "application" %>
  </body>
</html>
