<div class="toggler">
  <div class="toggler-checklist" id="commitments-checklist">
  <% if @commitments.any? %>
    <% @commitments.group_by{|c| c["By When"]}.each do |day, commitments| %>
      <div class="calendar">
        <% day = day.blank? ? Date.today : Date.parse(day) %>
        <header class="<%= "overdue" if day <= Date.today %>">
          <%= day.strftime("%a, %b %d %Y")  %>
        </header>
        <% commitments.group_by{|t| t["Who"] }.each do |person, stuff| %>
          <div class="student-tasks">
            <h4><%= person %></h4>
            <ul class="tasks">
              <% stuff.each do |thing| %>
                <li class="task">
                  <form class="toggle" method="POST" action="/api/commitments/<%= thing["id"] %>">
                    <input value="yes" name="record[Complete?]" type="checkbox"><%= thing["Commitment"] %>
                    <% if thing["PROJECTS_GROUPS"].present? %>
                      - <span class="subtle"><%= thing["PROJECTS_GROUPS"] %></span>
                    <% end %>
                    <input name="shard" type="hidden" value="<%= thing["SCHOOL_TFPID"].try(:split, "-").try(:first) || current_user.goddamn_city %>">
                  </form>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No upcoming student commitments.</p>
  <% end %>
  </div>
</div>
