<h1><%= session["hashie"] %></h1>
<article id="launchpad">
  <ul>
    <li>
      <a href="https://thefutureproject.slack.com/">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/76/Slack_Icon.png" alt="Slack" />
      <label>Slack</label>
      </a>
    </li>
    <li>
      <a href="https://airtable.com">
        <img src="https://pbs.twimg.com/profile_images/675477983793025024/Cpcs-SOu.png" alt="Airtable" />
        <label>Airtable</label>
      </a>
    </li>
    <li>
      <a href="http://dream.namely.com">
        <img src="http://static1.squarespace.com/static/5719066b22482e5dd5e4a2fb/t/57504a231bbee0485a64990e/1464879661073/namely+logo" alt="Namely" />
        <label>Namely</label>
      </a>
    </li>
    <li>
      <a href="http://logbook.dream.org">
        <img src="/img/icons/logbook.png" alt="Logbook" />
        <label>Logbook</label>
      </a>
    </li>
  </ul>
</article>

<article id="quote">
  <q><%= @quote.body %></q>
  <div> - <%= @quote.source %></div>
</article>

<article id="commitments">
  <header>
    <a href="<%= airtable_url_for "Commitments" %>">Commitments</a>
  <% if @commitments.any? %>
    </header>
    <% @commitments.group_by{|c| c.due}.each do |day, commitments| %>
      <section>
        <h4><%= Date.parse(day).strftime("%A, %m/%d") %></h4>
        <ol>
          <% commitments.each do |commitment| %>
          <li><%= commitment.commitment %></li>
          <% end %>
        </ol>
      </section>
    <% end %>
  <% else %>
    <p>You're currently 100% commitment-free.</p>
    </header>
  <% end %>
</article>
