<article>
  <h2>Hi <%= @slack_user[:profile][:first_name] %>,</h2>
  <p>So you have a Slack account, which is great.
  Please confirm your profile info below.</p>

  <form action="/registration" method="POST">
    <p>
      <label>Full Name</label>
      <input required="" name="employee[Name]" type="text" value="<%= @slack_user[:profile][:real_name_normalized] %>">
    </p>
    <p>
      <label>Job Title</label>
      <input required="" name="employee[Title]" type="text" value="<%= @slack_user[:profile][:title] %>">
    </p>
    <p>
      <label>Email</label>
      <input size="30" required="" name="employee[Email]" type="text" value="<%= @slack_user[:profile][:email] %>">
    </p>
    <p>
      <label>Phone</label>
      <input name="employee[Phone]" type="text" value="<%= @slack_user[:profile][:phone] %>">
    </p>
    <fieldset>
      <label>Teams</label>
      <p>(Select any you're part of.)</p>
        <% @teams.each do |team| %>
          <p>
            <label>
              <input type="checkbox" name="employee[Teams][]" value="<%= team.id %>">
              <%= team["Label"] %>
            </label>
          </p>
        <% end %>
    </fieldset>
    <p>
      <input type="hidden" name="employee[id]" value="<%= @employee.id %>">
      <input type="submit" value="Let's do this." />
    </p>
  </form>
</article>
