<article>
  <h2>Hi <%= @auth_info[:slack_user][:profile][:first_name] %>,</h2>
  <p>Please confirm your profile info below.</p>

  <form action="/registration" method="POST">
    <p>
      <label>Full Name</label>
      <input required name="employee[NAME]" type="text" value="<%= @auth_info[:slack_user][:profile][:real_name_normalized] %>">
    </p>
    <p>
      <label>Job Title</label>
      <input required name="employee[TITLE]" type="text" value="<%= @auth_info[:slack_user][:profile][:title] %>">
    </p>
    <p>
      <label>Email</label>
      <input size="30" required name="employee[Email]" type="text" value="<%= @auth_info[:slack_user][:profile][:email] %>">
    </p>
    <p>
      <label>Phone</label>
      <input name="employee[Phone]" type="text" value="<%= @auth_info[:slack_user][:profile][:phone] %>">
    </p>
    <p>
      <label>City/Team</label>
      <select name="employee[City][]">
        <option value=""></option>
        <% @cities.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %></option>
        <% end %>
      </select>
    </p>
    <p>
      <label>School</label>
      <select name="employee[School][]">
        <option value=""></option>
        <% @schools.each do |school| %>
          <option value="<%= school.id %>"><%= school.label %></option>
        <% end %>
      </select>
      <br>
      (if you have one)
    <p>
      <input type="hidden" name="employee[id]" value="<%= @employee.id %>">
      <input type="submit" value="Let's do this." />
    </p>
  </form>
</article>
