<article>
  <h2>Hi <%= @slack_user[:profile][:first_name] %>,</h2>
  <p>So you have a Slack accout, which is great.</p>
  <p>Please confirm your profile info below.</p>

  <form action="/registration" method="POST">
    <p>
      <label>Full Name</label>
      <input required="" name="employee[Name]" type="text" value="Chris Frank">
    </p>
    <p>
      <label>Job Title</label>
      <input required="" name="employee[Title]" type="text" value="Technology Director">
    </p>
    <p>
      <label>Email</label>
      <input size="30" required="" name="employee[Email]" type="text" value="chris.frank@thefutureproject.org">
    </p>
    <p>
      <label>Phone</label>
      <input name="employee[Phone]" type="text" value="607-351-5173">
    </p>
    <fieldset>
      <p>If you work in the field:</p>
      <p>
        <label>City</label>
        <select name="employee[City][]">
          <option value=""></option>
          <% @cities.each do |city| %>
            <option value="<%= city.id %>"><%= city.name %></option>
          <% end %>
        </select>
      </p>
      <p>
        <label>School</label>
        <select name="employee[School][]">
          <option value=""></option>
          <% @schools.each do |school| %>
            <option value="<%= school.id %>"><%= school.label %></option>
          <% end %>
        </select>
    </fieldset>
    <p>
      <input type="hidden" name="employee[id]" value="<%= @employee.id %>">
      <input type="submit" value="Let's do this." />
    </p>
  </form>
</article>
