<article id="redirects-list">
  <h1>
    <a href="<%= url('/new') %>">Add Redirect →</a>
  </h1>
  <% @resources.each do |redirect| %>
    <p>
      <a href="/<%= redirect.shortcut %>">
        <%= "http://go.dream.org/#{redirect.shortcut}" %>
      </a>
      →
      <%= redirect.url %>
      <a href="<%= url("/#{redirect.id}/edit") %>" class='edit'>Edit</a>
    </p>
  <% end %>
</article>
