<h1>
  You look nice today, links.
  <a href="<%= url('/new') %>">Add Link →</a>
</h1>
<section id="redirects-list">
  <% @resources.each do |redirect| %>
    <p>
      <a href="/<%= redirect.shortcut %>">
        <%= "http://go.dream.org/#{redirect.shortcut}" %>
      </a>
      →
      <%= redirect.url %>
      <a href="<%= url("/#{redirect.id}/edit") %>" class='edit'>Edit</a>
    </p>
  <% end %>
</section>
